html
    head
        title Jules LAURENT - Survey
        block links
    body
        if user
            div #{user.firstname}
        main.container
            block content
        block scripts