extends base
block content
    h1 Créer un nouveau sondage :
    form(method='post')
        div
            label(for="question-field") Question
            input(id="question-field" name="question")
            div#answers-wrapper
                div#answers
                    div
                        label(for="answer-1"  hidden)
                        input(id="answer-1" name="answer-1" placeholder="Option 1" data-answer-index="1").answer
                div
                    label(for="answer-new"  hidden)
                    input(id="answer-new" placeholder="Ajouter un choix" data-answer-index="new")
        div
            button(type='submit').btn.btn-block CREER LE SONDAGE
block scripts
    script(src="/scripts/surveyform.js")