.col.s12.m6.l4
    .card.survey
        .card-content
            span.card-title #{survey.question.length > 50 ? survey.question.substring(0,40) + '..?' : survey.question}
            div Nombre de réponse :  #{survey.answers.length}
        .card-action
            a(href='/survey/'+survey.id) VOIR LE SONDAGE
            input(type='text' value="/survey/"+survey.id  id="survey-link-"+survey.id ).link-container
            a(href='#' id='copy-toggle-'+survey.id).copy-toggle COPIER LE LIEN
