.choices {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    min-width: 200px;
}
.card-action a {
    text-align: center;
    display: block;
    margin: auto !important;
}

.share-tool {
    display: flex;
    align-items: center;
}

.share-tool .btn {
    min-width: 200px;
}